# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Logs and databases
*.log
*.sqlite3

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
